body{
	font-family: "·L³n¥¿¶ÂÅé";
	font-color:#2D3033;
	background-image: url('../res/img/toast.png');
	background-repeat: repeat;
	background-color: #EDE9B9;
}

.navbar{
	margin-bottom: 0px;
}

#sidenav{
	
	height: 800px;
	margin-top: 0px;
}

.indexUl{
	padding-top: 30px;

}
.indexLi{
	font-size:30px;
	padding: 15px;
}
.navbar-inverse .navbar-brand{
	color:deepskyblue;
	font-size: 20px;
	
}
.navbar-inverse .navbar-nav>li>a{
	color:deepskyblue;
	font-size: 20px;
}



#sidenav table{
	border-style: solid;
	border-collapse:separate;
	border-spacing: 0;
	text-align: center;
	font-size: 20px;
}

#sidenav .table-bordered{
	border:1px solid rgba(0,0,0,.0001);
}

#sidenav .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border-color: #111; 
}

#sidenav .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
	border-top:1px;
	border-top-width: 1px;
    border-top-style: solid;
}
#sidenav th{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color:deepskyblue;
	text-align: center;
}

#sidenav td{
	background-color: #fff;
}

#sidenav tr:last-child td:last-child{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#sidenav tr a{
	text-decoration:underline;
}


a{color:#2D3033;font-weight:bold; }
a:hover{color:#1D84B5;}
a:active{color:#94453C;}

#indext-table tbody tr th{
	width:150px;
	background-color:red;
	height:50px;
	text-align:center;
	border-color:#ddd;
	
}

#indext-table tbody tr td{
	background-color:#fff;
	text-align:center;
	font-size:20px;
}


