#giftAdd h3{
	margin: 10px;
}

.gift-search{
    padding: 0px;
    width: 100%;
}

.gift-menu{
    padding-top: 0px;
    padding-bottom: 20px;
    width: 40%;
}

.gift-management>tbody>tr>td{
	vertical-align: middle;
}

.gift-metadata{
	vertical-align: middle;
}
.gift-edit div,
.gift-pic div,
.gift-no div,
.gift-label div,
.gift-contents div,
.gift-price div,
.gift-status div,
.gift-date div,
.gift-buy div,
.gift-track div,
.gift-discount div{
	padding: 0em 0em 0em 0em;
	text-align: center;
}

.gift-edit{
	min-width: 110px;
	max-width: 110px;
}

.gift-edit .btn{
	width: 80px;
	margin:5px;
}

 .gift-pic{
	min-width: 120px;
	max-width: 120px;
}

.gift-pic img{
	height: 120px;
	width: 120px;
}

.gift-no{
	min-width: 125px;
	max-width: 125px;
}

.gift-no h2{
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.gift-no h3{
	margin-top: 0em;
}

.gift-label{
	min-width: 100px;
	max-width: 100px;
}

.gift-label p{
	font-size: 16px;
}

.gift-contents{
	min-width: 400px;
	max-width: 400px;
}

.gift-contents p{
	font-size: 18px;
}

.gift-price{
	min-width: 90px;
	max-width: 90px;
}


.gift-price p{
	font-size: 2em;
	text-align: center;
}

.gift-status{
	max-width: 110px;
	min-width: 110px;
	vertical-align: middle;
}

.gift-status .btn-style button{
	background-color: #FFF;
	border: 2px solid #000;
	width: 90px;
	color: #000;
	font-size: 1em;
	padding: 2px;
	text-align: center;
}

.gift-date{
	min-width: 150px;
	max-width: 150px;
}

.gift-date p{
	font-size: 1.25em;
	text-align: center;
}

.gift-track,
.gift-buy{
	min-width: 70px;
	max-width: 70px;
}

.gift-track p,
.gift-buy p{
	font-size: 16px;
}

.gift-discount{
	min-width: 70px;
	max-width: 70px;
}

button[data-target=never]{
	background-color: #FFF;
	color: blue;
	font-weight: bolder;
}

button[data-target=added]{
	background-color: #FFF;
	color: green;
	font-weight: bolder;
}

button[data-target=off]{
	background-color: #FFF;
	color: red;
	font-weight: bolder;
}

button[data-target=all]{
	background-color: #FFF;
	color: black;
	border: 1px solid black;
}

button[data-target=all]:hover{
	background-color: #000;
	color: white;
	
}

.form-inline{
	font-size:0px;
	border-radius: 0px;
	
}

.form-control{
	border-radius: 0px;
}

.form-group input{
	margin: 10px 0px 10px 0px;

}

#searchContext{
	width:500px;	
}
