.gift-search, .gift-menu{
    padding-top: 12px;
    padding-bottom: 28px;
    width: 40%;
}

.gift-search input{
	margin:0px;
	padding:0px;
}

.gift-search input,
.gift-serach button{
	height:100%;
}

.gift-search input{
	width: 400px;
	size:30px;
	
}

.gift-management>tbody>tr>td{
	vertical-align: middle;
}

.gift-metadata{
	vertical-align: middle;
}
.gift-edit div,
.gift-pic div,
.gift-no div,
.gift-label div,
.gift-contents div,
.gift-price div,
.gift-status div,
.gift-date div,
.gift-buy div,
.gift-track div,
.gift-discount div{
	padding: 0em 0em 0em 0em;
	text-align: center;
}

.gift-edit{
	min-width: 110px;
	max-width: 110px;
}

.gift-edit .btn{
	width: 80px;
	margin:5px;
}

 .gift-pic{
	min-width: 120px;
	max-width: 120px;
}

.gift-pic img{
	max-width: 7.5em;
}

.gift-no{
	min-width: 125px;
	max-width: 125px;
}

.gift-no h2{
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.gift-no h3{
	margin-top: 0em;
}

.gift-label{
	min-width: 100px;
	max-width: 100px;
}

.gift-label p{
	font-size: 16px;
}

.gift-contents{
	min-width: 400px;
	max-width: 400px;
}

.gift-contents p{
	font-size: 18px;
}

.gift-price{
	min-width: 90px;
	max-width: 90px;
}


.gift-price p{
	font-size: 2em;
	text-align: center;
}

.gift-status{
	max-width: 110px;
	min-width: 110px;
	vertical-align: middle;
}

.gift-status .btn-style button{
	background-color: #FFF;
	border: 2px solid #000;
	width: 90px;
	color: #000;
	font-size: 1em;
	padding: 2px;
	text-align: center;
}

.gift-date{
	min-width: 150px;
	max-width: 150px;
}

.gift-date p{
	font-size: 1.25em;
	text-align: center;
}

.gift-track,
.gift-buy{
	min-width: 70px;
	max-width: 70px;
}

.gift-track p,
.gift-buy p{
	font-size: 16px;
}

.gift-discount{
	min-width: 70px;
	max-width: 70px;
}

/* button[id=never]{ */
/* 	background-color: #FFF; */
/* 	color: #000; */
/* 	border: 1px solid black; */
/* 	font-weight: bolder; */
/* } */

/* button[id=added]{ */
/* 	background-color: #FFF; */
/* 	color: green; */
/* 	font-weight: bolder; */
/* } */
/* button[id=off]{ */
/* 	background-color: #FFF; */
/* 	color: red; */
/* 	font-weight: bolder; */
/* } */
/* button[id=all]{ */
/* 	background-color: #FFF; */
/* 	color: black; */
/* 	border: 1px solid black; */
/* } */

/* button[id=all]:hover{ */
/* 	background-color: #000; */
/* 	color: white; */
/* } */
