<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA107G3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/BA107G3</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>listener.GiftTimerInitListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.deposit.controller.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/deposit/deposit.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GiftServlet</servlet-name>
    <servlet-class>com.gift.controller.GiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftServlet</servlet-name>
    <url-pattern>/gift/gift.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GiftServletUFT8</servlet-name>
    <servlet-class>com.gift.controller.GiftServletUTF8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftServletUFT8</servlet-name>
    <url-pattern>/gift/giftUTF8.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GiftDiscountServlet</servlet-name>
    <servlet-class>com.giftDiscount.controller.GiftDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftDiscountServlet</servlet-name>
    <url-pattern>/gift/giftDiscount.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GiftOrderServlet</servlet-name>
    <servlet-class>com.giftOrder.controller.GiftOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftOrderServlet</servlet-name>
    <url-pattern>/gift/giftOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GfitTrackServletUTF8</servlet-name>
    <servlet-class>com.giftTrack.controller.GfitTrackServletUTF8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GfitTrackServletUTF8</servlet-name>
    <url-pattern>/gift/giftTrackUTF8.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GiftOrderViewServlet</servlet-name>
    <servlet-class>com.giftOrderView.controller.GiftOrderViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftOrderViewServlet</servlet-name>
    <url-pattern>/gift/giftOrderView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberGetPicServlet</servlet-name>
    <servlet-class>com.member.controller.MemberGetPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberGetPicServlet</servlet-name>
    <url-pattern>/memgetpic/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendsListServlet</servlet-name>
    <servlet-class>com.friends_list.controller.FriendsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsListServlet</servlet-name>
    <url-pattern>/friends/firlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountReportServlet</servlet-name>
    <servlet-class>com.account_report.controller.AccountReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountReportServlet</servlet-name>
    <url-pattern>/accpre/accpre.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FrontLoginFilter</filter-name>
    <filter-class>filter.FrontLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FrontLoginFilter</filter-name>
    <url-pattern>/front_end/member/modify_personal_data_main_page.jsp</url-pattern>
    <url-pattern>/front_end/member/member_intro.jsp</url-pattern>
    <url-pattern>/front_end/member/member_modify_password.jsp</url-pattern>
    <url-pattern>/front_end/member/member_modify_page.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.admin.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/admin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackLoginHandler</servlet-name>
    <servlet-class>com.admin.controller.BackLoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackLoginHandler</servlet-name>
    <url-pattern>/backLoginHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>BackLoginFilter</filter-name>
    <filter-class>filter.BackLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackLoginFilter</filter-name>
    <url-pattern>/back_end/admin/*</url-pattern>
    <url-pattern>/back_end/back_page.jsp</url-pattern>
    <url-pattern>/back_end/gift/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>QaServlet</servlet-name>
    <servlet-class>com.qa.controller.QaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QaServlet</servlet-name>
    <url-pattern>/back_end/qa/qa.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.event.controller.EventServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.event.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/back_end/event/event.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventFrontServlet</servlet-name>
    <servlet-class>com.event.controller.EventFrontServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventFrontServlet</servlet-name>
    <url-pattern>/front_end/event/event.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EvepServlet</servlet-name>
    <servlet-class>com.evep.controller.EvepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvepServlet</servlet-name>
    <url-pattern>/evep/evep.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android.MemberServlet</servlet-name>
    <servlet-class>android.com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android.MemberServlet</servlet-name>
    <url-pattern>/android/MemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android.FriendsListServlet</servlet-name>
    <servlet-class>android.com.friends_list.controller.FriendsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android.FriendsListServlet</servlet-name>
    <url-pattern>/android/FriendsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android.TalkServlet</servlet-name>
    <servlet-class>android.com.talk.controller.TalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android.TalkServlet</servlet-name>
    <url-pattern>/android/TalkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android.GiftServlet</servlet-name>
    <servlet-class>android.com.gift.controller.GiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android.GiftServlet</servlet-name>
    <url-pattern>/android/GiftServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android.GiftboxServlet</servlet-name>
    <servlet-class>android.com.giftbox.controller.GiftboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android.GiftboxServlet</servlet-name>
    <url-pattern>/android/GiftboxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android.GiftDiscountServlet</servlet-name>
    <servlet-class>android.com.giftDiscount.controller.GiftDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android.GiftDiscountServlet</servlet-name>
    <url-pattern>/android/GiftDiscountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android.GiftOrderServlet</servlet-name>
    <servlet-class>android.com.giftOrder.controller.GiftOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android.GiftOrderServlet</servlet-name>
    <url-pattern>/android/GiftOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidEventServlet</servlet-name>
    <servlet-class>android.com.event.controller.AndroidEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidEventServlet</servlet-name>
    <url-pattern>/android/AndroidEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidEvent_participantsServlet</servlet-name>
    <servlet-class>android.com.event_participants.controller.AndroidEvent_participantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidEvent_participantsServlet</servlet-name>
    <url-pattern>/android/AndroidEvent_participantsServlet</url-pattern>
  </servlet-mapping>
 
  <listener>  
    <listener-class>  
        com.memberDiscount.thread.MemberDiscountListener 
    </listener-class>  
</listener>  
</web-app>