.table > tbody > tr > td,
.table > thead > tr > th{
     vertical-align: middle;
     text-align: center;
}

.table > thead > tr > th{
     background-color: rgba(255,194,194,1);
}
.order-disCount{
	font-size: 12px;
	background-color: red;
	color: white;
	text-align: center;
}
td.order-name{
	width: 10%;
}
.order-pic{
	width: 15%;
}
.order-pic img{
	height: 100px;
}
.order-amount,
.order-unit,
.order-money,
.order-inventory-enough,
.order-inventory-not-enough{
	width: 10%;
}
.order-inventory-enough{
	color: green;
}
.order-inventory-not-enough{
	color: red;
}
.order-person{
	width: 25%;
}
.order-delete{
	width: 10%;	
}
.order-person input{
	width: 70px;
	height: 20px;
	text-align: center;
}
.giftr_message{
	position: absolute;
	width: 200px;
	height: 40px;
	margin-left: 10px;
	
}