#index-chat:hover {
box-shadow: 0px 0px 43px -1px rgba(0,0,0,0.75);
}

button, html input[type=button], input[type=reset], input[type=submit]{
	width:100%;	
}

#index-chat {
float:right;
position:fixed;
height: 500px; 
width:15%; 
right:-15%;
bottom:100px;
z-index:20;
border:2px solid #9B7711;
background-color:#9B7711;
border-radius: 10px;
}

.index-chat-title{
	height: 7%;
	border-radius: 5px;
	margin-top: 1%;
	background-color: #FFF;
	color:#9B7711;
}

.index-chat-title p{
	font-size: 1.5em;
	text-align: center;
}

.index-chat-person{
	height: 150px;
	border-radius: 5px;
	margin-top: 1%;
	background-color: #FFF;
	color:#9B7711;	
	
	
}

.index-chat-person p{
	font-size: 1em;
	text-align: left;
	padding-top: 0px;
}

.index-chat-message{
	height: 300px;
	border-radius: 5px;
	margin-top: 1%;
	background-color: #FFF;
	color:#9B7711;
	
	overflow-x:none;
	word-wrap:break-word; 
}

.index-chat-message input{
	background-color: #BBB;
	border: 0px;
	width: 90%;
}

.index-chat-message .fa{
	font-size:19px;
}

#chatSwitchOpen{
	border-right: 5px;
	color: rgb(29,130,178);
	border:0px;
	background-color: transparent;
	position: absolute;
	bottom:0px;
	left:-70px;
	width:48px;
}

#chatSwitchClose{
	display: none;
	border-radius: 5px;
	color: rgb(29,130,178);
	border:0px;
	background-color: transparent;
	position: absolute;
	bottom:0px;
	left:-70px;
	width:48px;
}

#chat-message{
	height:270px;
}