#index-chat:hover {
box-shadow: 0px 0px 43px -1px rgba(0,0,0,0.75);
}


#index-chat {
float:right;
position:fixed;
height: 530px; 
width:15%; 
right:-15%;
bottom:100px;
z-index:20;
border:2px solid #9B7711;
background-color:#9B7711;
border-radius: 10px;
}

.index-chat-title{
	height: 7%;
	border-radius: 5px;
	margin-top: 1%;
	background-color: #FFF;
	color:#9B7711;
}

.index-chat-title p{
	font-size: 1.5em;
	text-align: center;
}

.index-chat-person{
	height: 150px;
	border-radius: 5px;
	margin-top: 1%;
	background-color: #FFF;
	color:#9B7711;	
	
	
}

.index-chat-person p{
	font-size: 1em;
	text-align: left;
	padding-top: 0px;
}

.index-chat-message{
	height: 330px;
	border-radius: 5px;
	margin-top: 1%;
	background-color: #FFF;
	color:#9B7711;
	overflow-x:none;
	word-wrap:break-word; 
	
	
}

.index-chat-message input{
	background-color: #BBB;
	border: 0px;
	width: 80%;
}

.index-chat-message .fa{
	font-size:19px;
}

#chatSwitchOpen{
	border-right: 5px;
	color: rgb(29,130,178);
	border:0px;
	background-color: transparent;
	position: absolute;
	bottom:0px;
	left:-70px;
	width:48px;
}

#chatSwitchClose{
	display: none;
	border-radius: 5px;
	color: rgb(29,130,178);
	border:0px;
	background-color: transparent;
	position: absolute;
	bottom:0px;
	left:-70px;
	width:48px;
}

#chat-message{
	height:270px;
	overflow-y:scroll;
}

#friName{
	text-align:center ;
	background-color:#efe5ca;
	border-bottom:1px solid #9b7711;
	margin-bottom:10px;
}

#sendIcon:hover{
	color:#644c0b;
}

.clearFloat{
 overflow: hidden;
}


.selfMessage{
	background-color:#efe5ca;
	float:right;
	padding:5px;
	border-radius: 10px;
	word-break:break-all;
	margin-left:40%;
}

.friMessage{
	background-color:#ddd;
	float:left;
	padding:5px;
	border-radius: 10px;
	word-break:break-all;
	margin-right:40%;
}

.selfImg{
	background-color:#efe5ca;
	float:right;
	padding:10px;
	border-radius: 10px;
	word-break:break-all;
	margin-left:40%;
	margin-bottom:5px;
}

.friImg{
	background-color:#ddd;
	float:left;
	padding:10px;
	border-radius: 10px;
	word-break:break-all;
	margin-right:40%;
	margin-bottom:5px;
}

#showBigPic{
	max-height:100%;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: fit-content;
    margin: 30px auto;
  
}

.unread{
	background-color:red;
	width:fit-content;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:7px;
	padding-right:7px;
	border-radius: 50%;
	color:#fff;
}